.mainContainer {
  margin-top: 20px;
}

.customTable {
  margin-top: 20px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterLabel {
  font-weight: bold;
  margin-right: 5px;
}

.filterButtons {
  display: flex;
  gap: 10px;
  margin-top: 1.3rem;
}
